<!DOCTYPE html>
<html lang="pt">
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	    <meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="author" content="">


	    <title>Cinema Fácil</title>

	    <!-- CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400italic|Montserrat:700,400|Varela+Round">

		<!-- Font Icon -->
		<link rel="stylesheet" href="/static/fonts/icomoon/icomoon.css">

		<!-- Swipebox -->
		<link rel="stylesheet" href="/static/css/swipebox.css">

		<!-- Animate CSS -->
		<link rel="stylesheet" href="/static/css/animate.min.css">

		<!-- Custom CSS -->
		<link rel="stylesheet" href="/static/css/style.css">
		<link rel="stylesheet" href="/static/css/style-responsive.css">
		<link rel="stylesheet" href="/static/css/expandableGallery.css">

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.3/css/bootstrap-select.min.css">

	    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	    <!--[if lt IE 9]>
	      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	    <![endif]-->
	    <script src="/static/js/modernizr.js"></script> <!-- Modernizr -->

	    <!-- FAV AND TOUCH ICONS -->
	    <link rel="shortcut icon" href="/static/images/favicon/favicon.ico">

	    <link rel="icon" type="image/png" href="/static/images/favicon/favicon-32.png">

	    <!-- For iPad with high-resolution Retina display running iOS ≥ 7: -->
		<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/static/images/favicon/apple-touch-icon-152.png">

		<!-- For iPad with high-resolution Retina display running iOS ≤ 6: -->
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/images/favicon/apple-touch-icon-144.png">

		<!-- For iPhone with high-resolution Retina display running iOS ≥ 7: -->
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/favicon/apple-touch-icon-114.png">

		<!-- For iPad and iPad mini models with a 1× display -->
		<link rel="apple-touch-icon-precomposed" sizes="76x76" href="/static/images/favicon/apple-touch-icon-76.png">

		<!-- For first- and second-generation iPad: -->
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/images/favicon/apple-touch-icon-72.png">

		<!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
		<link rel="apple-touch-icon-precomposed" href="/static/images/favicon/apple-touch-icon-57.png">


  	</head>

  	<body>

	  	<!--
		==========================
		== BEGIN HEADER CONTENT ==
		==========================
		-->
	  	<header id="main-header" class="the-header the-origin-header">

	  	</header>
	  	<!--
		=========================
		--/ END HEADER CONTENT ==
		=========================
		-->



		<!--
		========================
		== BEGIN MAIN CONTENT ==
		========================
		-->
		<main id="main-content" class="creative-layout" style="margin-bottom: 234px;"> <!-- margin value is the height of your footer -->

			<!--
			========================
			== BEGIN HERO SECTION ==
			========================
			-->
			<section id="hero">

				<div class="container">

					<div class="vertical-center-wrapper">
						<div class="vertical-center-table">
							<div class="vertical-center-content">

								<!-- BEGIN Hero Content -->
								<div class="row">
									<div class="col-xs-12 col-sm-12">
										<a href="#"><img class="img-responsive center-block" src="/static/images/logo.png" alt="Cinema Fácil"></a>
									</div>
								</div>
								<div class="row centered">
									<div class="col-xs-12 col-lg-12">
										<p class="lead all-caps text-shadow-small margin-bot-30" data-sr="enter bottom over 1s and move 50px wait 0.4s"></p>
										<h1 class="all-caps text-shadow-medium" data-sr="enter bottom over 1s and move 50px wait 0.3s">Ingressos para Cinemark com descontos exclusivos</h1>

										<ul class="inline-cta">
											<li data-sr="enter left  over 1s wait 0.3s">
												<a id="tofeaturettes" href="#featurettes" class="cta cta-stroke all-caps">SABER MAIS</a>
											</li>
											<li data-sr="enter left  over 1s wait 0.3s">
												{%if qtd_ss <= 0 %}
												<a class="cta cta-stroke all-caps">COMPRAR AGORA</a>
												{%else%}
												<a class="cta cta-stroke all-caps contact-trigger">COMPRAR AGORA</a>
												{%endif%}
											</li>
											{%if qtd_ss <= 0 %}
											<li data-sr="enter left  over 1s wait 0.3s">
												<h3>Infelizmente nossos estoques se esgotaram! Aguarde nova remessa.</h3>
											</li>
											{%endif%}

										</ul> <!--/ .inline-cta -->

									</div> <!--/ .col-lg-12 -->
								</div> <!--/ .row -->
								<!-- END Hero Content -->

							</div> <!--/ .vertical-center-content -->
						</div> <!--/ .vertical-center-table -->
					</div> <!-- / .vertical-center-wrapper -->

				</div> <!--/ .container -->

			</section>
			<!--
			=======================
			--/ END HERO SECTION ==
			=======================
			-->



			<!--
			===============================
			== BEGIN FEATURETTES SECTION ==
			===============================
			-->
			<section id="featurettes" class="expandable-gallery gray-bg no-padding">

				<div class="container-full">
					<div class="row">

						<!-- BEGIN 1st Row Featurettes / Expandable Gallery Row -->
						<div class="expandable-gallery-wrapper col-lg-6 col-md-6 no-padding">

							<ul>
								<li class="selected"><img src="/static/images/stocks/stockGD2.jpg" alt=""></li>

							</ul>
						</div>

						<div class="two-blocks-col col-lg-6 col-md-6">

							<b>Como comprar seus ingresso Cinemark com até 40% de desconto:</b>
							<ul class="checklist">
								<li>Clique em comprar agora para ir para o carrinho.
								<li>No Carrinho de compra insira o CUPOM da parceria para ver o desconto aplicado.</li>
								<li>Informe seus dados pessoais e de cobrança.</li>
								<li>Assim que o pagamento for efetivado, você receberá o cupom SUPER SAVER ELETRÔNICO para efetuar a reserva através do site www.ingresso.com</li>
							</ul>

							<b>ATENÇÃO AS CONDIÇÕES DE USO DOS CONVITES:</b>
							<ul class="checklist">
								<li>A porcentagem do desconto pode variar de acordo com a localização da sala e horário.</li>
								<li>Válidos Todos os dias, todas os horários de sessões, em todos os complexos exceto os complexos: Litoral Plaza, Campinas VIP</li>
								<li>Válido apenas para sessões 2D</li>
								<li>A troca dos SUPER SAVER ELETRONICOS deve ser realizada através do site ingresso.com para cinemas CINEMARK até dia 31/01/2016</li>
								<li>Se e-mail com o cupom não chegar em até 2 horas enviar e-mail para suporte@colaboradores.com.br
							</ul> <!--/ .checklist -->

							{%if qtd_ss <= 0 %}
							<a class="cta cta-stroke all-caps">COMPRAR AGORA</a>
							<p><br>Infelizmente nossos estoques se esgotaram! Aguarde nova remessa.</p>
							{%else%}
							<a class="cta cta-stroke all-caps contact-trigger">COMPRAR AGORA</a>
							{%endif%}

							<br>&nbsp;

						</div> <!--/ .expandable-gallery-info -->
						<!--/ END 1st Row Featurettes / Expandable Gallery Row -->



		</main> <!--/ #main-content -->
		</section>
		<!--
		=======================
		--/ END MAIN CONTENT ==
		=======================
		-->


		<!--
		==========================
		== BEGIN FOOTER CONTENT ==
		==========================
		-->
		<footer id="main-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-2 col-lg-2">
						<img src="/static/images/moip.png" alt="" class="img-responsive">
					</div>
					<div class="col-md-4 col-lg-4 centered"><br>&nbsp;
						<span id="siteseal">
						<script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=24eDRZqBnpvL1cHOyp9kvgrH6XKbboIhJdPO8Ftna3bZaRFPh7e6P896RcX6"></script>
						</span>
					</div>
					<div class="col-md-6 col-lg-6">
						<div class="copyright">
						<p><img src="/static/images/stocks/bomcinema.jpg"></p><br>
						<p>Dúvidas relacionadas ao uso do ingresso, clique aqui para ver um manual passo a passo de como utilizar o SUPER SAVER ELETRONICO, ou se preferir enviar e-mail para suporte@colaboradores.com.br </p>
						</div> <!--/ .copyright -->
					</div>

				</div> <!--/ .row -->
			</div> <!--/ .container -->

		</footer>
		<!--
		=========================
		--/ END FOOTER CONTENT ==
		=========================
		-->

		<!--
		=================================
		== BEGIN CONTACT MODAL CONTENT ==
		=================================
		-->
		<div class="contact-overlay overlay-scale">
			<a class="overlay-close">Close</a>

			<div class="container">
				<div class="row">

					<div class="contact-content col-lg-10 col-lg-offset-1 centered">
						<form class="contact-form" id="contact-form" method="POST" action="/contact">
								<input type="hidden" id="cardtype">
								<div class="row">
									<div class="col-lg-12 col-md-12">
										<h3>Compra de Super saver Eletrônicos CINEMARK para Filmes 2D</h3>
									</div>
								</div>
								<div class="row">
									<div class="col-lg-2 col-md-2 text-left">
										<h4>Quantidade:</h4>
									</div>
									<div class="col-lg-2 col-md-2">
										<div class="required-field">
											<input name="quantidade" id="quantidade" class="contact-input" type="number" placeholder="Informe a quantidade">
										</div> <!--/ .col-lg-6 -->
									</div> <!--/ .col-lg-6 -->
									<div class="col-lg-2 col-md-2 text-right">
										<h5>Cupom de desconto:</h5>
									</div>
									<div class="col-lg-4 col-md-4">
										<div class="required-field">
											<input name="cupom" id="cupom" class="contact-input" type="text"  placeholder="Insira o Cupom de desconto">
										</div> <!--/ .required-field -->
									</div>
									<div class="col-lg-2 col-md-2">
										<button id="validar" type="button" class="btn btn-primary btn-lg">Validar</button>
									</div>
								</div> <!--/ row -->
								<div class="row valores escondido">
									<div class="col-lg-6 col-md-6 text-right">
										<h4>Valor unitário</h4>
									</div>

									<div class="col-lg-6 col-md-6">
										<input name="vlrunit" id="vlrunit" disabled class="contact-input vlrunit"  type="text" placeholder="R$ XX,XX">
									</div>
								</div>

								<div class="row valores escondido">
									<div class="col-lg-6 col-md-6 text-right">
										<h4>Valor Total</h4>
									</div>

									<div class="col-lg-6 col-md-6">
										<input name="vlrtotal" id="vlrtotal" disabled class="vlrtotal contact-input "  type="text" placeholder="R$ XX,XX">
									</div>
								</div>
								<div class="row dadospessoais escondido">
									<div class="col-lg-12 col-md-12">
										<h2>Informe seus dados</h2>
									</div>
								</div>

								<div class="row dadospessoais escondido">

									<div class="col-lg-8 col-md-8">
										<div class="required-field">
											<input name="nome" id="nome" class="contact-input"  type="text" placeholder="Seu nome">
										</div>
									</div>

									<div class="col-lg-4 col-md-4">
										<div class="required-field">
											<input name="telefone" id="telefone" class="contact-input" type="text" placeholder="Seu telefone">
										</div>
									</div>
								</div>

								<div class="row dadospessoais escondido">
									<div class="col-lg-4 col-md-4">
										<div class="required-field">
											<input name="email" id="email" class="contact-input" type="email" placeholder="Seu e-mail">
										</div>
									</div>
									<div class="col-lg-4 col-md-4">
										<div class="required-field">
											<input name="data_nascimento" id="data_nascimento" class="contact-input" type="text" placeholder="Data de nascimento">
										</div>
									</div>

									<div class="col-lg-4 col-md-4">
										<div class="required-field">
											<input name="cpf" id="cpf" class="contact-input" type="text" placeholder="CPF">
										</div>
									</div>

								</div>
								<div class="row dadospessoais escondido">
									<div class="col-lg-3 col-md-3">
										<div class="required-field">
											<input name="cep" id="cep" class="contact-input" type="text" placeholder="Seu CEP">
										</div>
									</div>
									<div class="col-lg-4 col-md-4">
											<input name="rua" id="rua" class="contact-input" readonly type="text" placeholder="Logradouro">
									</div>
									<div class="col-lg-2 col-md-2">
										<div class="required-field">
											<input name="nro" id="nro" class="contact-input" type="text" placeholder="Nro">
										</div>
									</div>
									<div class="col-lg-3 col-md-3">
										<input name="complemento" id="complemento" class="contact-input" type="text" placeholder="Complemento">
									</div>
								</div>
								<div class="row dadospessoais escondido">
									<div class="col-lg-3 col-md-3">
											<input name="bairro" id="bairro" class="contact-input" readonly type="text" placeholder="Bairro">
									</div>
									<div class="col-lg-4 col-md-4">
											<input name="cidade" id="cidade" class="contact-input" readonly type="text" placeholder="Cidade">
									</div>
									<div class="col-lg-2 col-md-2">
											<input name="uf" id="uf" class="contact-input" readonly type="text" placeholder="Estado">
									</div>
								</div>
								<div class="row infocartao escondido">
									<div class="col-lg-12 col-md-12">
										<h2>Informe os dados do seu cartão de crédito</h2>
									</div>
								</div>
								<div class="row infocartao escondido">
									<div class="col-lg-4 col-md-4">
										<div class="required-field">
											<input name="nrocartao" id="nrocartao" class="contact-input"  type="text" placeholder="Número do cartão">
										</div>
									</div>

									<div class="col-lg-2 col-md-2">
										<img id="ccartao" src="https://placehold.it/79x50?text=Cartao" alt="" class="card-picture img-responsive img-rounded ">
										<img id="cvisa" src="/static/images/cartoes/visa.png" alt="" class="card-picture img-responsive img-rounded escondido ">
										<img id="cmastercard" src="/static/images/cartoes/master.jpg" alt="" class="card-picture img-responsive img-rounded escondido ">
										<img id="camex" src="/static/images/cartoes/amex.jpg" alt="" class="card-picture img-responsive img-rounded escondido ">
										<img id="cdiners" src="/static/images/cartoes/diners.jpg" alt="" class="card-picture img-responsive img-rounded escondido ">
									</div>

									<div class="col-lg-6 col-md-6">
										<div class="required-field">
											<input name="nome_cartao" id="nome_cartao" class="contact-input"  type="text" placeholder="Nome no cartão">
										</div>
									</div>
									<div class="col-lg-8 col-md-8">
										<div class="required-field">
											<input name="data_expiracao" id="data_expiracao" class="contact-input"  type="text" placeholder="Data de validade - MM/AAAA">
										</div>
									</div>

									<div class="col-lg-4 col-md-4">
										<div class="required-field">
											<input name="cod_seguranca" id="cod_seguranca" class="contact-input"  type="text" placeholder="Código de segurança">
										</div>
									</div>

								</div>
								<div class="row">

									<div class="col-lg-9 col-md-9">
										&nbsp;
									</div> <!--/ .col-lg-12 -->
									<div class="col-lg-3 col-md-3 all-caps">

										<button id="submit" type="submit" class="submit-btn escondido">COMPRAR</button>

									</div> <!--/ .col-lg-12 -->

								</div>
								<div class="row">
									<div class="col-lg-12 col-md-12">
										<p>VOCÊ ESTÁ EM UM AMBIENTE SEGURO COM PAGAMENTO SEGURO</p>
										<img src="/static/images/logo_moip-b.png" alt="" class="moiplogo img-responsive">
										<img src="/static/images/verificado.gif" alt="" class="moiplogo img-responsive">

									</div>
								</div>


							</form> <!--/ .contact-form -->

						</div> <!--/ .col-lg-6 -->
						<!--/ END Contact Form -->

					</div> <!--/ .contact-content -->

				</div> <!--/ .row -->

			</div> <!--/ .container -->

		</div> <!--/ .contact-overlay -->

		<!--
		================================
		--/ END CONTACT MODAL CONTENT ==
		================================
		-->


		<!--
		======================================
		== BEGIN FORM NOTIFICATIONS CONTENT ==
		======================================
		-->
		<!-- BEGIN Subscribe Form Alert/Notification -->
		<div id="subscribe-error-notification" class="notif-box">

			<span class="icon-bullhorn notif-icon"></span>
			<p class="mensagem">Subscribe error, please review your email address.</p>
			<a class="notification-close">Close</a>

		</div> <!--/ #error-notification -->

		<div id="aguardapagto" class="modal fade" tabindex="-1" role="dialog">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h4 class="modal-title">Concluído</h4>
		      </div>
		      <div class="modal-body">

				<p>Seu pedido foi realizado com sucesso. Pedido de número: <span id="nropedido">x</span></p>
				<p>Dentro de instantes você irá receber o e-mail de confirmação do pagamento da
				MOIP e na sequencia o email com os Super Savers Eletronicos.</p>
				<p>Qualquer problema entre em contato conosco pelo email suporte@colaboradores.com.br .</p>

		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->

		<div id="confirmpagto" class="modal fade" tabindex="-1" role="dialog">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h4 class="modal-title">Parabéns!</h4>
		      </div>
		      <div class="modal-body">
		        <p>Seus dados foram validados <span id="infopagto">e seu pagamento confirmado </span>com sucesso</p>
		        <p>Confira abaixo os códigos dos Cupons <strong>Super Saver Eletrônico</strong> que deverão ser trocados no site da <a href="http://ingresso.com">ingresso.com</a>.
		        Não se preocupe, pois também enviamos para seu e-mail:</p>

		        <p>
		        	<ul id="sse"></ul>
		        </p>

				<div class="row">
					<div class="col-lg-12 col-md-12">
					<p>Escolha abaixo o cinema da ingresso.com que quer ver seu filme:</p>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12">
						<select id="cinemas" class="selectpicker" data-live-search="true">
							{%for cidade in cinemas.cidades%}
								{%for cinema in cinemas.cidades[cidade]%}
								<option
									data-tokens="{{cidade}} {{cinema}}"
									value="{{cinemas.url|format(cidade,cinema)}}">{{cidade|replace("-"," ")|capitalize}} - {{cinema|replace("-"," ")|capitalize}}
								</option>
								{%endfor%}
							{%endfor%}
						</select>
						<button type="button" id="verfilmes" class="btn btn-primary">Ver os filmes</button>
					</div>
				</div>


				<div id="MoipWidget"
		             data-token=""
		             callback-method-success="moipSuccess"
		             callback-method-error="moipError"></div>

		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
		      </div>
		    </div><!-- /.modal-content -->
		  </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->


		<!--
		=====================================
		/ END FORM NOTIFICATIONS CONTENT ==
		=====================================
		-->


	    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

	    <!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

		<!-- SmoothScroll -->
		<script src="/static/js/minified/SmoothScroll.min.js"></script>

		<!-- Classie -->
		<script src="/static/js/minified/classie.min.js"></script>

		<!-- One Page Nav -->
		<script src="/static/js/minified/jquery.nav.min.js"></script>

		<!-- Animated Headline -->
		<script src="/static/js/minified/animatedHeadline.min.js"></script>

		<!-- AjaxChimp -->
		<script src="/static/js/minified/jquery.ajaxchimp.min.js"></script>

		<!-- Swipebox -->
		<script src="/static/js/minified/jquery.swipebox.min.js"></script>

		<!-- Expandable Gallery on 2 Block Column -->
		<script src="/static/js/minified/expandableGallery.min.js"></script>

		<!-- Counter Up -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.5/waypoints.min.js"></script>
		<script src="/static/js/minified/jquery.counterup.min.js"></script>

		<!-- Quicksand JS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
		<script src="/static/js/minified/jquery-css-transform.min.js"></script>
		<script src="/static/js/minified/jquery-animate-css-rotate-scale.min.js"></script>
		<script src="/static/js/minified/jquery.quicksand.min.js"></script>

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.3/js/bootstrap-select.min.js"></script>

		<!-- Headhesive -->
		<script src="/static/js/minified/headhesive.min.js"></script>

		<!-- Mask fields -->
		<script src="/static/js/jquery.mask.min.js"></script>

		<!-- ScrollReveal -->
		<script src="/static/js/minified/scrollReveal.min.js"></script>

		<!-- moip js tools https://github.com/moiplabs/moipjs -->
		<script src="/static/js/moip.min.js"></script>

		<!-- Waiting modals -->
		<script src="/static/js/bootstrap-waitingfor.min.js"></script>

		<!-- MD5 function -->
		<script src="/static/js/jquery.md5.js"></script>

		<script>
			CP_DES = "{{cupom_desconto}}";
			CP_FRE = "{{cupom_free}}";
			VL_ING = "{{valor_ingresso}}";
			VL_DES = "{{valor_desconto}}";
		</script>

		<!-- Custom JS -->
		<script src="/static/js/urip.js"></script>

		<!-- Expandable Navigation Menu -->
		<script src="/static/js/minified/expandableNav.min.js"></script>

		<script
			type='text/javascript'
			src='{{MOIP_URL}}/transparente/MoipWidget-v2.js'
			charset='ISO-8859-1'>
		</script>

		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-71096978-1', 'auto');
		  ga('send', 'pageview');

		</script>

	</body>
</html>
