<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Lista de vendas efetuadas</title>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="/static/js/modernizr.js"></script> <!-- Modernizr -->

    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

</head>
<body>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
        Estatísticas
    </h3>
  </div>
  <div class="panel-body">
    <ul>
        <li>Total de {{total}} vendas efetuadas</li>
        <li>Total de {{total_supersavers}} Super Savers</li>
        <li>Restam ainda {{total_supersavers_disponiveis}} Super Savers disponíveis</li>
    </ul>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
        Listagem das vendas completas <span class="badge">{{vendas|length}}</span> de <span class="badge">{{total}}</span>
    </h3>
  </div>
  <div class="panel-body">

        <div class="table-responsive">
            <table class="table table-condensed table-bordered table-striped">

                <tr>
                    <th>#</th>
                    <th>IdProprio</th>
                    <th>Data/Hr</th>
                    <th>Qtd</th>
                    <th>Cliente</th>
                    <th>Tel</th>
                    <th>Email</th>
                    <th>CPF</th>
                    <th>Enviado?</th>
                    <th>Enviado Em</th>
                    <th>Cupom</th>
                    <th>Super Savers</th>
                    <th>Valor</th>
                    <th>Forma</th>
                </tr>


            {%for venda in vendas%}
                <tr>
                    <td>{{venda.id}}</td>
                    <td>{{venda.id_proprio}}</td>
                    <td>{{venda.data_hora.strftime('%d/%m/%Y %H:%M:%S')}}</td>
                    <td>{{venda.quantidade}}</td>
                    <td>{{venda.nome_cliente}}</td>
                    <td>{{venda.telefone_cliente}}</td>
                    <td>{{venda.email_cliente}}</td>
                    <td>{{venda.cpf_cliente}}</td>
                    <td>{{venda.email_enviado}}</td>
                    <td>{{venda.data_envio or ""}}</td>
                    <td>{{venda.cupom_usado}}</td>
                    <td>
                    {%if venda.super_savers%}
                        {%for ss in venda.super_savers.split(",")%}
                            <span class="label label-info">{{ss}}</span>
                        {%endfor%}
                    {%else%}
                        &nbsp;
                    {%endif%}
                    </td>
                    <td>{{venda.valor_pago}}</td>
                    <td>
                        {%if venda.pagamento == "Free" %}
                            <span class="label label-success">{{venda.pagamento}}</span>
                        {%else%}
                            <span class="label label-primary">{{venda.pagamento}}</span>
                        {%endif%}
                    </td>
                </tr>
            {%endfor%}
            </table>
        </div>

  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
        Listagem das vendas que não enviou email <span class="badge">{{vendas_sem_email|length}}</span> de <span class="badge">{{total}}</span>
    </h3>
  </div>
  <div class="panel-body">

        <div class="table-responsive">
            <table class="table table-condensed table-bordered table-striped">

                <tr>
                    <th>#</th>
                    <th>IdProprio</th>
                    <th>Data/Hr</th>
                    <th>Qtd</th>
                    <th>Cliente</th>
                    <th>Tel</th>
                    <th>Email</th>
                    <th>CPF</th>
                    <th>Cupom</th>
                    <th>SS</th>
                    <th>Valor</th>
                    <th>Forma</th>
                </tr>


            {%for venda in vendas_sem_email%}
                <tr>
                    <td>{{venda.id}}</td>
                    <td>{{venda.id_proprio}}</td>
                    <td>{{venda.data_hora.strftime('%d/%m/%Y %H:%M:%S')}}</td>
                    <td>{{venda.quantidade}}</td>
                    <td>{{venda.nome_cliente}}</td>
                    <td>{{venda.telefone_cliente}}</td>
                    <td>{{venda.email_cliente}}</td>
                    <td>{{venda.cpf_cliente}}</td>
                    <td>{{venda.cupom_usado}}</td>
                    <td>
                    {%if venda.super_savers%}
                        {%for ss in venda.super_savers.split(",")%}
                            <span class="label label-info">{{ss}}</span>
                        {%endfor%}
                    {%else%}
                        &nbsp;
                    {%endif%}
                    </td>
                    <td>{{venda.valor_pago}}</td>
                    <td>
                        {%if venda.pagamento == "Free" %}
                            <span class="label label-success">{{venda.pagamento}}</span>
                        {%else%}
                            <span class="label label-primary">{{venda.pagamento}}</span>
                        {%endif%}
                    </td>

                </tr>
            {%endfor%}
            </table>
        </div>

  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
        Listagem das vendas que falharam <span class="badge">{{vendas_falhas|length}}</span> de <span class="badge">{{total}}</span>
    </h3>
  </div>
  <div class="panel-body">

        <div class="table-responsive">
            <table class="table table-condensed table-bordered table-striped">

                <tr>
                    <th>#</th>
                    <th>IdProprio</th>
                    <th>Data/Hr</th>
                    <th>Qtd</th>
                    <th>Cliente</th>
                    <th>Tel</th>
                    <th>Email</th>
                    <th>CPF</th>
                    <th>Enviado?</th>
                    <th>Enviado Em</th>
                    <th>Token/Erro</th>
                    <th>Cupom</th>
                    <th>SS</th>
                    <th>Valor</th>
                    <th>Forma</th>
                </tr>


            {%for venda in vendas_falhas%}
                <tr>
                    <td>{{venda.id}}</td>
                    <td>{{venda.id_proprio}}</td>
                    <td>{{venda.data_hora.strftime('%d/%m/%Y %H:%M:%S')}}</td>
                    <td>{{venda.quantidade}}</td>
                    <td>{{venda.nome_cliente}}</td>
                    <td>{{venda.telefone_cliente}}</td>
                    <td>{{venda.email_cliente}}</td>
                    <td>{{venda.cpf_cliente}}</td>
                    <td>{{venda.email_enviado}}</td>
                    <td>{{venda.data_envio or ""}}</td>
                    <td>{{venda.token_moip or ""}}</td>
                    <td>{{venda.cupom_usado}}</td>
                    <td>
                    {%if venda.super_savers%}
                        {%for ss in venda.super_savers.split(",")%}
                            <span class="label label-info">{{ss}}</span>
                        {%endfor%}
                    {%else%}
                        &nbsp;
                    {%endif%}
                    </td>
                    <td>{{venda.valor_pago}}</td>
                    <td>
                        {%if venda.pagamento == "Free" %}
                            <span class="label label-success">{{venda.pagamento}}</span>
                        {%else%}
                            <span class="label label-primary">{{venda.pagamento}}</span>
                        {%endif%}
                    </td>

                </tr>
            {%endfor%}
            </table>
        </div>

  </div>
</div>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <!-- SmoothScroll -->
    <script src="/static/js/minified/SmoothScroll.min.js"></script>


</body>
</html>
